.gutter.gutter-horizontal {
    float:  left;
    cursor: ew-resize;
    height: 100%;
    width:  10px;

    background-color: transparent;
    // background-color: #406090;
    background-repeat: no-repeat;
    background-position: 50%;
}
